<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>/{{ board_name }}/ - {{ board_title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
	<div>[{% for board in board_names %}
		<a href="/boards/{{ board }}/">{{ board }}</a> {%if not loop.last%}/{% endif %}{% endfor %} ] 
	</div>
	<div id="container">
		<div id="header">
	    	{% if banner_image %}<img src="{{ banner_image }}" alt="Board banner">{% endif %}
	    	<span style="font-size: xx-large;">/{{ board_name }}/ - {{ board_title }}</span><br>
	    	insert new thread creator here
		</div>
		<hr size="3">
		<div> <!-- trods -->
	{% for thread in threads %}
			<div class="thread">
	    		<p class="op">{% if not thread['op_post'].name or force_default %}{{ default_name }}{% else %}{{ thread['op_post'].name }}{% endif %} on {{ thread['op_post'].date }} [ no. <a href="/boards/{{ board_name }}/{{ thread['op_post'].id}}/">{{ thread['op_post'].id}}</a>{% if thread['op_post'].stickied %}<span style="color: red; font-weight: bold;"> -STICKIED-</span>{% endif %} ]<br>
	    			<span style="border: 1px; border-color: black; border-style: solid; padding-right: 2px; padding-left: 1px;">{{ thread['op_post'].message }}</span>
	    		</p>
	    {% for post in thread['replies'] %}
				<p class="post">>{% if not post.name or force_default %}{{ default_name}}{% else %}{{ post.name }}{% endif %} on {{ post.date }} [ no. {{ post.id }} ]<br>
				{{ post.message }}</p>
	{% endfor %}		</div><br>{% endfor %}
		</div>
	</div>
<br />lohereminusz 0.1 xd
</body>
</html>